@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Lora', serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    color: white;
    height: 50px;
}

nav ul li{
    padding: 0px 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh; /* means 75% of total height */
    background-color: black;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
}

.bottom{
    background-color: black;
    color: white;
    position: sticky;
    height: 120px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 13px ;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 34px;
}

.songItem{
    height: 60px;
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    border-radius: 21px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px ;
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'PT Sans Narrow', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}